* {
  margin: 0px;
}

.header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 10px;
}

.logo--icon {
  max-width: 32px;
  transform: scaleX(-1);
}

